<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Quetoo Update</string>
	<key>CFBundleExecutable</key>
	<string>quetoo-update</string>
	<key>CFBundleIconFile</key>
	<string>quetoo-update.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.quetoo.update</string>
	<key>CFBundleName</key>
	<string>Quetoo Update</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>BETA</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>BETA</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
</dict>
</plist>
