
.container {
	spacing: 12;
}

Box {
	border-color: #1e4e62;
}

Box > Label {
	background-color: #0c1f27;
}

Box > .contentView > Input > Label {
	min-width: 200;
}

Panel {
	background-color: #08151aaa;
}

TabView > .tabSelectionView > Label.selected {
	background-color: #1e4e62aa;
}

.columns {
	axis: horizontal;
	distribution: fill;
}

.columns > .column {
	min-width: 400;
}

.column Box {
	autoresizing-mask: contain | width;
}
