<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleDisplayName</key>
        <string>Quake2World</string>
        <key>CFBundleExecutable</key>
        <string>quake2world</string>
        <key>CFBundleIconFile</key>
        <string>quake2world.icns</string>
        <key>CFBundleIdentifier</key>
        <string>net.quake2world.launcher</string>
        <key>CFBundleName</key>
        <string>Quake2World</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>BETA</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>BETA</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.6</string>
</dict>
</plist>
