# Defines which files Git should ignore
# http://git-scm.com
*~
*.dll
*.exe
*.la
*.lo
*.o
*.swp
.deps/
.dirstamp
.DS_Store
.libs/
.settings/
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gmon.out
html
install-sh
libtool
ltmain.sh
m4/*
Makefile
Makefile.in
missing
nbproject
src/main/quetoo
src/main/quetoo-dedicated
src/tests/*.log
src/tests/*.trs
src/tests/check_ai_ann
src/tests/check_atlas
src/tests/check_cmd
src/tests/check_cvar
src/tests/check_filesystem
src/tests/check_master
src/tests/check_mem
src/tests/check_r_media
src/tests/check_thread
src/tools/quemap/quemap
src/tools/quetoo-master/quetoo-master
src/tools/quetoo-update/quetoo-update
stamp-h1
target
test-driver
xcuserdata
/Quetoo.vs15/.vs/quetoo/v15/*.suo
