[Desktop Entry]
Name=Quetoo Dedicated BETA Update
Comment=Web updater for Quetoo Dedicated BETA.
Exec="%QUETOO_HOME%/bin/update.sh"
Icon="%QUETOO_HOME%/share/default/icons/update.png"
Terminal=true
Type=Application
Categories=Games;
StartupNotify=true
