
EditorView {
	autoresizing-mask: fill;
}

EditorView Panel {
	alignment: middle-center;
}

EditorView Panel .accessoryView {
	hidden: false;
}

EditorView Panel .material TextView {
	editable: false;
	min-width: 240;
}
