
EditorView {
  autoresizing-mask: fill;
}

EditorView #title {
  font-weight: bold;
}

EditorView Panel {
  alignment: middle-center;
}

EditorView Panel Input {
  width: 420;
}

EditorView Panel Input Label {
  editable: false;
  width: 200;
}

EditorView Panel .accessoryView {
  hidden: false;
}
