
#servers {
  width: 1420;
  height: 640;
}

#Hostname {
  min-width: 420;
}

#Source {
  min-width: 140;
}

#Map {
  min-width: 140;
}

#Gameplay {
  min-width: 140;
}

#Players {
  min-width: 100;
}

#Ping {
  min-width: 100;
}

#servers .error > Text {
  color: darkred;
}
