Source: quake2world
Section: contrib/games
Priority: optional
Maintainer: Stanley Pinchak <stanley.pinchak@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, automake1.9, libtool, libsdl1.2-dev, libsdl-mixer1.2-dev, libsdl-image1.2-dev, libcurl4-openssl-dev, libncurses5-dev
Standards-Version: 3.8.0
Homepage: http://quake2world.net
Vcs-Svn: svn://jdolan.dyndns.org/quake2world/trunk/quake2world

Package: quake2world
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: quake2world-data (>= 0.1.0)
Description: an unsupported, unofficial, multiplayer-only iteration of Quake II
 Quake2World is a 3D action game in the First Person Shooter genre.
 It aims to blend the very best aspects of the entire Quake series to deliver
 an enjoyable FPS experience in a free to download, stand-alone game.
 .
 This package conatins no data files you will need to install
 ``quake2world-data''
 package or download the data files and install them by hand
 following the instructions at 
 http://quake2world.net/quake2world/books/documentation/installation-maintenance

Package: quake2world-data
Architecture: any
Depends: quake2world, rsync
Description: default game data for quake2world
 game data is downloaded via rsync from the official quake2world server.
 data can be updated at any time by running dpkg-reconfigure quake2world-data 
 .
 Quake2World is a 3D action game in the First Person Shooter genre.
