<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quake2World-Xcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Quake2World.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE5A65E618DA74BA004EA5C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E597818DA7AC200C98070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E597F18DA7BA000C98070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E598A18DA7C1600C98070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9E599118DA7C3700C98070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
