Panel.editor {
  alignment: top-left;
  autoresizing-mask: contain | height;
  draggable: false;
  resizable: false;
}

Panel.editor > StackView {
  autoresizing-mask: fill;
}

Panel.editor .contentView {
  stretch: true;
}

Panel.editor TabView {
  stretch: true;
}

Panel.editor .tabPageView {
  autoresizing-mask: none;
  stretch: true;
  width: 420;
}

Panel.editor .tabPageView > View {
  autoresizing-mask: fill;
}

.editor TextView {
  bevel: none;
  padding: 1 4 1 4;
}

.editor Control {
  min-height: 24;
}

#entity {
  padding: 4;
}

#entity .entity {
  axis: StackViewAxisHorizontal;
}

#entity .entity .value {
  min-width: 230;
}

#entity #add {

}

#teamEntity {
  background-color: #22222244;
}

#teamEntity .entity .value {
  min-width: 210;
}

#material Input Label {
  width: 200;
}
