Panel.editor {
  alignment: top-left;
  autoresizing-mask: height;
  border-radius: 0;
  border-width: 0;
  draggable: false;
  padding: 0;
  resizable: false;
  width: 440;
}

Panel.editor > StackView {
  autoresizing-mask: fill;
}

Panel.editor > StackView > .contentView {
  autoresizing-mask: contain | width;
  stretch: true;
}

Panel.editor > StackView > .contentView > .tabViewController {
  autoresizing-mask: contain | width;
  stretch: true;
}

Panel.editor TabView {
  autoresizing-mask: fill;
}

Panel.editor .tabPageView {
  autoresizing-mask: contain | width;
  stretch: true;
}

Panel.editor .tabPageView > View {
  autoresizing-mask: fill;
}

.editor TextView,
.editor Select {
  bevel: none;
  padding: 1 4 1 4;
}

.editor Control {
  min-height: 24;
}

#entity {
  padding: 4;
}

#entity .entity {
  axis: StackViewAxisHorizontal;
}

#entity .entity .value {
  min-width: 230;
}

#entity #add {

}

#teamEntity {
  background-color: #22222244;
}

#teamEntity .entity .value {
  min-width: 210;
}

.editor ScrollView > .contentView {
  autoresizing-mask: contain | width;
  padding: 10 14 4 2;
}

.editor Box {
  autoresizing-mask: contain | width;
}

.editor Input > Label {
  min-width: 100;
  max-width: 100;
}

.editor Input > TextView,
.editor Input > Slider,
.editor Input > Select {
  width: 220;
}

.editor .flags {
  spacing: 2;
}

.editor .flagRow {
  axis: horizontal;
  spacing: 8;
}

.editor .flagRow > Input {
  alignment: top-left;
}

.editor .flagRow .flag > Label {
  min-width: 64;
  max-width: 64;
}

.editor .flag > Label > Text {
  font-size: 14;
}

.editor .flag Checkbox {
  min-height: 18;
}

.editor .flag Checkbox > Control {
  min-height: 18;
  min-width: 18;
}

.editor .flag Checkbox ImageView {
  height: 10;
  width: 10;
}
