Panel.editor {
  alignment: top-left;
  autoresizing-mask: height;
  border-radius: 0;
  border-width: 0;
  draggable: false;
  padding: 0;
  resizable: false;
  width: 440;
}

Panel.editor > StackView {
  autoresizing-mask: fill;
}

Panel.editor > StackView > .contentView {
  autoresizing-mask: contain | width;
  stretch: true;
}

Panel.editor > StackView > .contentView > .tabViewController {
  autoresizing-mask: contain | width;
  stretch: true;
}

Panel.editor TabView {
  autoresizing-mask: fill;
}

Panel.editor .tabPageView {
  autoresizing-mask: contain | width;
  stretch: true;
}

Panel.editor .tabPageView > View {
  autoresizing-mask: fill;
}

.editor TextView,
.editor Select {
  bevel: none;
  padding: 1 4 1 4;
}

.editor Control {
  min-height: 24;
}

#entity {
  padding: 4;
}

#entity .entity {
  axis: StackViewAxisHorizontal;
}

#entity .entity .value {
  min-width: 230;
}

#entity #add {

}

#teamEntity {
  background-color: #22222244;
}

#teamEntity .entity .value {
  min-width: 210;
}

#material Input Label {
  width: 200;
}
