#material ScrollView > .contentView {
  autoresizing-mask: contain | width;
  padding: 10 14 4 2;
}

#material Box {
  autoresizing-mask: contain | width;
}

#material Input > Label {
  min-width: 100;
  max-width: 100;
}

#material Input > TextView,
#material Input > Slider,
#material Input > Select {
  width: 220;
}

#material .stageButtons {
  axis: horizontal;
  spacing: 4;
}

#material .stageButtons Button {
  alignment: top-left;
  autoresizing-mask: contain;
  background-color: #00000000;
  bevel: none;
  border-width: 0;
  min-height: 0;
  min-width: 0;
  padding: 2 2 2 2;
}

#material .stageButtons Button ImageView {
  autoresizing-mask: none;
  height: 16;
  width: 16;
}

#material .stageFlags {
  spacing: 2;
}

#material .flagRow {
  axis: horizontal;
  spacing: 8;
}

#material .flagRow > Input {
  alignment: top-left;
}

#material .flagRow .flag > Label {
  min-width: 64;
  max-width: 64;
}

#material Box.effect {
  visibility: hidden;
}

#material .stage Box.enabled {
  visibility: visible;
}

#material .flag > Label > Text {
  font-size: 14;
}

#material .flag Checkbox {
  min-height: 18;
}

#material .flag Checkbox > Control {
  min-height: 18;
  min-width: 18;
}

#material .flag Checkbox ImageView {
  height: 10;
  width: 10;
}
