#material Input Label {
  max-width: 100;
}

#material Input TextView {
  width: 250;
}

#material Input Slider {
  width: 250;
}

#material Input Select {
  width: 250;
}

#material .stageButtons {
  axis: horizontal;
  spacing: 4;
}

#material .stageButtons Button {
  alignment: top-left;
}
