<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuemapGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <QuemapGui.Properties.Settings>
      <setting name="map_folder" serializeAs="String">
        <value />
      </setting>
      <setting name="compile_root" serializeAs="String">
        <value />
      </setting>
      <setting name="compile_maps" serializeAs="String">
        <value />
      </setting>
      <setting name="compile_recurse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="convert_direction" serializeAs="String">
        <value>valve</value>
      </setting>
      <setting name="convert_mode" serializeAs="String">
        <value>suffix</value>
      </setting>
      <setting name="convert_snap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="convert_offset_increment" serializeAs="String">
        <value>0.125</value>
      </setting>
      <setting name="convert_rotation_increment" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="convert_recurse" serializeAs="String">
        <value>True</value>
      </setting>
    </QuemapGui.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>