[Desktop Entry]
Name=Quetoo
Comment=Free, open-source arena first-person shooter
Exec=quetoo
Icon=quetoo
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupNotify=true
