[Desktop Entry]
Name=Quetoo
Comment=Free, open-source arena first-person shooter
Exec=quetoo %U
Icon=quetoo
Terminal=false
Type=Application
Categories=Game;ActionGame;Shooter;
MimeType=x-scheme-handler/quetoo;
StartupNotify=true
