<?xml version="1.0" encoding="UTF-8"?>
!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>net.quake2world.Quake2World</string>
  <key>CFBundleName</key>
  <string>Quake2World</string>
  <key>CFBundleExecutable</key>
  <string>quake2world</string>
  <key>CFBundleVersion</key>
  <string>BETA</string>
  <key>CFBundleIconFile</key>
  <string>quake2world.icns</string>
  <key>LSEnvironment</key>
  <dict>
    <key>APPLE_APPLICATION_BUNDLE</key>
    <string>TRUE</string>
  </dict>
</dict>
</plist>