#Credits {
  max-width: 960;
}

#Credits > .contentView {
  spacing: 20;
  padding-top: 20;
}

#Credits .credit {
  axis: horizontal;
}

#Credits .credit .name {
  min-width: 320;
}

#Credits .credit .name Text {
  font-size: 16;
}

#Credits .credit .role {
  min-width: 600;
}

#Credits .columns {
  width: 920;
}

#Credits #SpecialThanks .column {
  width: 300;
}

#Credits #SpecialThanks .column Text {
  font-size: 13;
}
