
#loading {
  autoresizing-mask: fill;
}

#mapShot {
  autoresizing-mask: fill;
}

#logo {
  alignment: middle-center;
  width: 480;
  height: 360;
}

#progress {
  alignment: bottom-center;
  autoresizing-mask: width;
  height: 32;
}

#progress .background {
  background-color: transparent;
}

#progress > Text {
  alignment: middle-left;
}

#loadingInfo {
  alignment: top-center;
  autoresizing-mask: contain | width;
  background-color: #08151aaa;
  clips-subviews: true;
  padding: 12;
  spacing: 4;
}

#loadingInfo Label {
  alignment: center;
}

#mapTitle > Text {
  font-size: 28;
}

#serverName > Text {
  color: #8fc7dc;
}
