
#loading {
	autoresizing-mask: fill;
}

#mapShot {
	autoresizing-mask: fill;
}

#logo {
	alignment: middle-center;
	width: 480;
	height: 360;
}

#progress {
	alignment: bottom-center;
	autoresizing-mask: width;
	height: 32;
}

#progress .background {
	background-color: transparent;
}

#progress > Label {
	alignment: middle-left;
}
