
#main {
	autoresizing-mask: fill;
}

#background {
	autoresizing-mask: fill;
}

#logo {
	alignment: bottom-right;
}

#version {
	alignment: bottom-left;
}

#contentView {
	autoresizing-mask: fill;
	padding-top: 36;
	padding-bottom: 36;
}

#primaryMenu,
#secondaryMenu {
	autoresizing-mask: contain | width;
	axis: horizontal;
	background-color: #22222244;
	distribution: fill;
	padding: 4;
	spacing: 12;
}

#primaryMenu Button,
#secondaryMenu Button {
	background-color: #08151a;
	border-color: #ffffff;
	border-width: 1;
	bevel: none;
	min-height: 36;
}

#primaryMenu Button > Text {
	font-style: bold;
}
