
#main {
	autoresizing-mask: fill;
}

#topBar, #bottomBar {
	background-color: #22222244;
	padding: 4;
}

#topBar Button, #bottomBar Button {
	background-color: #08151a;
	border-color: #ffffff;
	border-width: 1;
	bevel: none;
}

.primaryButtons > Button {
	min-width: 200;
	min-height: 36;
}

.primaryButtons > Button > Text {
	font-style: bold;
}

.primaryIcons > Button {
	min-width: 0;
	padding: 0;
}

.primaryIcons > Button > ImageView {
	width: 36;
	height: 36;
}
