.responseService {
  autoresizing-mask: contain | width;
}

CrosshairPreviewView {
  alignment: center;
  autoresizing-mask: width;
  background-color: #08151a66;
  height: 108;
}

CrosshairPreviewView > ImageView {
  alignment: middle-center;
}
